:root {
    --neon-green: #39ff14;
    --neon-pink: #ff14af;
}

body {
    background: #363b40;
    color: #DDD;
    font-family: "Courier New", monospace;
}

a{
    color: var(--neon-green);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
}

a:hover{
    filter: brightness(85%);
}

.p-2{
    padding: 2rem;
}